services/node-red/flows.json
[
  {
    "id": "tab-iot-raw-publisher",
    "type": "tab",
    "label": "IoT Raw Event Publisher",
    "disabled": false,
    "info": "Publishes a minimal raw_iot_event to iot/raw/node1 every 10 seconds"
  },
  {
    "id": "inject-timer",
    "type": "inject",
    "z": "tab-iot-raw-publisher",
    "name": "Every 10s",
    "props": [{"p": "payload"}],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 100,
    "wires": [["build-payload"]]
  },
  {
    "id": "build-payload",
    "type": "function",
    "z": "tab-iot-raw-publisher",
    "name": "Build raw_iot_event",
    "func": "var now = new Date().toISOString();\nmsg.payload = JSON.stringify({\n    \"schema_version\": \"1.0\",\n    \"event_type\": \"raw_iot_event\",\n    \"timestamp\": now,\n    \"node_id\": \"sensor-a1\",\n    \"gateway_id\": \"node1\",\n    \"node_group\": \"room-a\",\n    \"device_type\": \"thermostat\",\n    \"src_ip\": \"10.10.1.21\",\n    \"dst_ip\": \"10.10.0.10\",\n    \"src_port\": 51544,\n    \"dst_port\": 443,\n    \"protocol\": \"tcp\",\n    \"packet_size\": 820,\n    \"packet_count\": 6,\n    \"duration_ms\": 85,\n    \"bytes_in\": 920,\n    \"bytes_out\": 3980,\n    \"flags\": {\"syn\": 1, \"ack\": 0, \"psh\": 0, \"fin\": 0, \"rst\": 0, \"urg\": 0},\n    \"flag_counts\": {\"syn\": 1, \"ack\": 0, \"psh\": 0, \"fin\": 0, \"rst\": 0, \"urg\": 0},\n    \"scenario\": \"normal_traffic\"\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 100,
    "wires": [["mqtt-out"]]
  },
  {
    "id": "mqtt-out",
    "type": "mqtt out",
    "z": "tab-iot-raw-publisher",
    "name": "Publish iot/raw/node1",
    "topic": "iot/raw/node1",
    "qos": "1",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-config",
    "x": 580,
    "y": 100,
    "wires": []
  },
  {
    "id": "mqtt-broker-config",
    "type": "mqtt-broker",
    "name": "MQTT Broker",
    "broker": "${MQTT_BROKER}",
    "port": "${MQTT_PORT}",
    "clientid": "node-red-iot-publisher",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": "",
    "credentials": {
      "user": "${MQTT_USERNAME}",
      "password": "${MQTT_PASSWORD}"
    }
  }
]
